extends layout

block content
    div.top-content
        div.inner-bg
            div.container
                div.row
                    h1 Welcome to Birdman Bats Project
                    h2 To register or login press the button the login button.
                        br
                    h1 I someone refer you please use unique url provided to you.